{% extends 'assistant/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}


<style>
  body{
    background: url("/static/img/gg.jpg");
  }
</style>


<div class="row justify-content-center my-4">
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-body">
             <pre>Hello, What do you have in mind?</pre>
              <form action="." method="POST">
                {% csrf_token %}
                <input class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}" id="">
                <button class="btn btn-success fw-bold" type="submit">
                     Go
                </button>
              </form>
              <hr>
              <pre>  
                {{ formatted_response }}    
              </pre>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}